{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link style="width:50px; height:50px;" rel="icon" type="image/png"  href="{% static 'admin/img/woman-with-long-hair.png' %}">
     <title>Pretty Parlour</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

     <!-- Favicon -->
     <link href="{% static 'customer/img/favicon.ico' %}" rel="icon">

     <!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
     
     <!-- Icon Font Stylesheet -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 
     <!-- Libraries Stylesheet -->
     <link href="{% static 'customer/lib/animate/animate.min.css ' %}" rel="stylesheet">
     <link href="{% static 'customer/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
 
     <!-- Customized Bootstrap Stylesheet -->
     <link href="{% static 'customer/css/bootstrap.min.css' %}" rel="stylesheet">
 
     <!-- Template Stylesheet -->
     <link href="{% static 'customer/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->



<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
  <a href="{% url 'home' %}" class="navbar-brand">
      <h1 class="m-0 text-primary">Pretty Parlour</h1>
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto">
          <a href="{% url 'customer_dashboard' %}" class="nav-item nav-link ">Dashboard</a>
         
         

          {% comment %} <a href="{% url 'customer_book_services' %}" class="nav-item nav-link ">Appoinment</a> {% endcomment %}
          
          <a href="{% url 'customer_my_bookings' %}" class="nav-item nav-link active"> My Bookings</a>

          {% comment %} <a href="{% url 'booking_history' %}" class="nav-item nav-link">Booking History</a> {% endcomment %}
          {% comment %} <a href="{% url 'customer_payments_debitcard' %}" class="nav-item nav-link">Payments</a> {% endcomment %}

          <a href="{% url 'customer_profile' %}" class="nav-item nav-link">Profile</a>
          <a href="{% url 'customer_feedback' %}" class="nav-item nav-link">Feedback</a>
         
         
          
      </div>
      <a href="{% url 'home' %}" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
  </div>
</nav>
<!-- Navbar End -->


<!-- Page Header End -->
<div class="container-xxl py-5 page-header position-relative mb-5">
  <div class="container py-5">
      <h1 class="display-2 text-white animated slideInDown mb-4">My Bookings</h1>
      <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Customers</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">My Bookings</li>
          </ol>
      </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- My Bookings -->
 <!-- Main -->
  <!-- Main -->
  <center>
    <div class="container-fluid">
<div class="col-lg-12 grid-margin stretch-card ">
    <div class="card ">
      <div class="card-body ">
        <h4 class="card-title"></h4>
        <p class="card-description">
          <code></code>
        </p>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead style="background-color:hotpink; color:white">

                
                <tr>

                    
                    
                    <th>Booking-Id</th>
                    <th>Parlour Name</th>
                    <th>Service Name</th>

                    <th>Beautician</th>
                    <th>No of Members</th>
                    <th>Address Type</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    
                  </tr>


            </thead>
            <tbody style="background-color:white">

                {% for i in data %}
                <tr>
                   
                   
                    
                    <th scope="row">{{ i.booking_id }}</th>
                    <td>{{i.parlour}}</td>
                    <td>{{ i.service }}</td>
                   
                    <td>{{ i.beautician }}</td>
                    <td>{{ i.members }}</td>
                    {% comment %} <td>{{ price }}</td> {% endcomment %}
                    <td>{{ i.type_of_address }}</td>
                    <td>{{i.date}}
                    <td>{{ i.time}}</td>
                    <td><span class="badge bg-info rounded-pill text-white">{{i.status}}</span></td> 
                    
                  </tr>

                  {% endfor %}

                   
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</center>
  
       <!-- /services -->


         <!-- Footer Start -->
         <div class="container-xxl bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
          <div class="container py-5">
              <div class="row g-5">
                  <div class="col-lg-3 col-md-6">
                      <h3 class="text-white mb-4">Get In Touch</h3>

                      <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> <ul>
                          <li>L.B. Nagar</li>
                          <li>Hyderabad</li> 
                           <li>Pin Code:500074. T.S.</li>
                       </ul></p>
                      <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>8555887986</p>
                      <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@codebook.in</p>
                      <div class="d-flex pt-2">
                          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <h3 class="text-white mb-4">Quick Links</h3>
                      <a class="btn btn-link text-white-50" href="">About Us</a>
                      <a class="btn btn-link text-white-50" href="">Contact Us</a>
                      <a class="btn btn-link text-white-50" href="">Our Services</a>
                      <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                      <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <h4 class="section-title ff-secondary text-start text-white fw-normal mb-4">Opening</h4>
                    <h5 class="text-light fw-normal">Monday - Saturday</h5>
                    <p>09AM - 09PM</p>
                    <h5 class="text-light fw-normal">Sunday</h5>
                    <p>10AM - 08PM</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Newsletter</h3>
                    <p>A pretty face is a passport for a pretty girl</p>

                    
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                            placeholder="Your email">
                        <button type="button"
                            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="copyright">
                  <div class="row">
                      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                          &copy; <a class="border-bottom" href="#">Copyright 2022, CODEBOOK</a>, All Right Reserved. 
            
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <a class="border-bottom" href="#"></a>
                          <br><a class="border-bottom" href="#" target="_blank"></a>
                      </div>
                      <div class="col-md-6 text-center text-md-end">
                          <div class="footer-menu">
                              <a href="">Designed & Developed by FZ INFOTECH</a>
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

 <!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'customer/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'customer/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'customer/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'customer/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'customer/js/main.js' %}"></script>
</body>

</html>